body {
    display: block;
    height: 100%;
    max-height: 100%;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: arial,sans-serif;
    color: #222;
    background: #fff;
    overflow: hidden;
}

/* HEADER NAV BAR starts here  */
.nav-list {
    display: flex;
    flex-direction:row;
    justify-content: flex-end;
    align-items: center;
    height: 48px;
    margin-top: 5px;
    font-size: 13px;
    
}

.nav-link {
    display: inline-block;
    text-decoration: none;
    color: black;
    margin-right: 15px;
}
.nav-hyper {
    padding: 0 16px;
    margin-top: 2px;
}
.link2 {
    margin-right: 12px;
}


.nine-dots {
    display: block;
    width: 16px;
    height: 16px;
    margin-right: 9px;
    margin-top: 2px;
    
}
   
.first-img {
    display: block;
    border-radius: 50%;
    margin-right: 3px;
    margin-top: 1px;
    
    
}
/*HEADER NAV BAR ends here*/

/*MAIN starts here*/ 
main {
    padding-top: 20px;
    text-align: center;
    height: auto;  
}
.second-img-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 277px;
    min-height: 92px;
    margin-bottom: 26px;
}
.second-img {

        
}
.search-box-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border: 1px solid #dadce0;
    max-width: 582px;
    height: 44px;
    margin: 13px auto 20px auto;
    font-size: 16px;
    width: 100%;
    outline: none;
}
.lupa {
    width: 20px;
    height: 20px;
    

}
.search-box {
  border: transparent;
  width: 80%;
  margin: 0 20px 0 21px;
  padding-left: 5px;
   
    
}
.mic {
    width: 24px;
    height: 24px;
}
.btn-group {
    margin-top: -1px;
}
.both-btn {
    padding: 0 16px;
    margin: 18px 4px;
    text-decoration: transparent;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
}
}
.lang-text {
    display: inline-block;
    width: 225px;
    text-align: center;
    padding: 40px 12px;
    
}
.ref-text {
    font-size: 13px;
    margin-top: 18px;
}
.lang {
    margin-top: 8px;
    padding: 0 3px;
    text-decoration: none;
    color: blue;
}
/*MAIN ends here*/

/*FOOTER starts here*/
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 50px;
    background: #f2f2f2;
    font-size: 13px;
    
}
.footer-box-1 {
    height: 50px;
    text-align: left;
    border-bottom: 1px solid #dadce0;
    padding: 15px 30px;
    font-size: 15px;
    width: auto;
    height: auto;

}
.footer-box-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: normal;  
    height: 50px;
    padding: 15px 30px;
    font-size: 14px;
    width: auto;
    height: auto;
    margin-left: -10px;
}
.hyper {
    text-decoration: none;
    color: black;
    padding: 15px;
}
/*FOOTER ends here*/

