body {
    display: block;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: arial,sans-serif;
    color: #222;
    background: #fff;
}

/* HEADER NAV BAR starts here  */
.nav-list {
    display: flex;
    flex-direction:row;
    justify-content: flex-end;
    align-items: center;
    height: 48px;
    margin-top: 5px;
    font-size: 13px;
}

.nav-link {
    display: inline-block;
    text-decoration: none;
    color: black;
    margin-left: 15px;
}

.nine-dots {
    display: block;
    width: 16px;
    height: 16px;
    
}
   
.first-img {
    display: block;
    border-radius: 50%;
    margin-right: 5px;
    
    
}
/*HEADER NAV BAR ends here*/

/*MAIN starts here*/ 
main {
    padding-top: 20px;
    text-align: center;
    height: auto;  
}
.second-img-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 290px;
    min-height: 92px; 
}
.second-img {

    width: 272px;
    margin: 185px auto 0 auto;
    padding-left: 18px;
    
}
.search-box-container {
    padding-left: 20px;
    padding-top: 5px;
}
.search-box {
    display: block;
    margin: 10px auto 20px auto;
    width: 100%;
    max-width: 582px;
    height: 44px;
    border-radius: 25px;
    border: 1px solid #dadce0;
    z-index: 0;
    font-size: 16px;
}
.search-box:hover {
    
}
.lupa {
    width: 20px;

}
.btn-group {
    margin-top: -1px;
}
.both-btn {
    padding: 0 16px;
    margin-left: 8px;
    text-decoration: transparent;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
}
.search-box {
    display: block;
    margin: 10px auto 20px auto;
    width: 100%;
    max-width: 582px;
    height: 44px;
    border-radius: 20px;
    border: 1px solid #dadce0;
    z-index: 0;
    
}
.lang-text {
    display: inline-block;
    font-size: small;
    width: 225px;
    text-align: center;
    padding: 40px 12px;
    margin-left: 18px;
    margin-top: -14px;
}
.lang {
    margin-top: 8px;
    padding: 0 3px;
    text-decoration: none;
    color: blue;
}
/*MAIN ends here*/

/*FOOTER starts here*/
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 50px;
    background: #f2f2f2;
    font-size: 13px;
    
}
.footer-box-1 {
    height: 50px;
    text-align: left;
    border-bottom: 1px solid #dadce0;
    padding: 15px 30px;
    font-size: 15px;
    width: auto;
    height: auto;

}
.footer-box-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: normal;  
    height: 50px;
    padding: 15px 30px;
    font-size: 14px;
    width: auto;
    height: auto;
    margin-left: -10px;
}
.hyper {
    text-decoration: none;
    color: black;
    padding: 15px;
}
/*FOOTER ends here*/

